<!-- ==================== Footer Start Here ==================== -->
<footer class="footer">
    <div class="footer__shape">
        <img src="assets/images/shape.png" class="fit--image" alt="img">
    </div>
    <div class="footer__shape">
        <img src="assets/images/shape.png" class="fit--img" alt="img">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 footer__item_left pb-60 pt-120">
                <div class="footer__item footer__first-item">
                    <div class="footer__logo">
                        <a href="index.html" class="main__logo"> <img src="assets/images/logo/white-log.png" alt="img"></a>
                    </div>
                    <p class="footer__desc">Download the Alister Bank app and simplify your banking. Discover quick</p>
                    <ul class="social-list">
                        <li class="social-list__item"><a href="https://www.facebook.com"
                                class="social-list__link flex-center"><i class="fab fa-facebook-f"></i></a> </li>
                        <li class="social-list__item"><a href="https://www.twitter.com"
                                class="social-list__link flex-center"> <i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social-list__item"><a href="https://www.linkedin.com"
                                class="social-list__link flex-center"> <i class="fab fa-linkedin-in"></i></a></li>
                        <li class="social-list__item"><a href="https://www.pinterest.com"
                                class="social-list__link flex-center"> <i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 footer__item_right pb-60  ps-xl-5 ">
                <div class="footer__inner">
                    <div class="footer__item left-reveal">
                        <div class="footer__item-inner ">
                            <h5 class="footer__title">Company</h5>
                            <ul class="footer__menu">
                                <li class="footer__menu-item"><a href="#" class="footer__menu-link">Features</a></li>
                                <li class="footer__menu-item"><a href="#" class="footer__menu-link">Pricing</a></li>
                                <li class="footer__menu-item"><a href="#" class="footer__menu-link">Blog</a></li>
                                <li class="footer__menu-item"><a href="#" class="footer__menu-link">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__item">
                         <div class="footer__item-inner">
                             <h5 class="footer__title">Legal</h5>
                             <ul class="footer__menu">
                                 <li class="footer__menu-item"><a href="sign-in.html" class="footer__menu-link">Sign in</a>
                                 </li>
                                 <li class="footer__menu-item"><a href="register.html" class="footer__menu-link">Register</a>
                                 </li>
                                 <li class="footer__menu-item"><a href="#" class="footer__menu-link">Terms of Services</a>
                                 </li>
                                 <li class="footer__menu-item"><a href="#" class="footer__menu-link">Privacy Policy</a></li>
                             </ul>
                         </div>
                    </div>
                    <div class="footer__item footer__newsletter right-reveal">
                         <div class="footer__item-inner">
                             <h5 class="footer__title">Newsletter</h5>
                             <p class="footer__desc">Subscribe to get account listings & deals</p>
                             <form action="/" class="footer__form">
                                 <div class="input--group">
                                     <input type="email" class="form--control" name="email"
                                         placeholder="Enter email address">
                                     <button class="btn" type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                                 </div>
                             </form>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End-->
    <!-- bottom Footer -->
    <div class="footer__bottom ">
        <div class="container">
            <div class="row gy-3">
                <div class="col-md-12 text-center">
                    <div class="bottom-footer-text"> &copy; Copyright 2025 . All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->