<!--==========================   User-sidebar Start  ==========================-->
<div class="dashboard__sidebar">
  <div class="sidebar__close"><i class="las la-times"></i></div>
  <div class="dashboard__logo">
    <a href="user-dashboard.html"><img src="assets/images/logo/white-log.png" alt="logo"></a>
  </div>
  <div class="dashboard__menu">
    <ul>
      <li><a href="user-dashboard.html"><i class="fa-solid fa-table-columns"></i>Dashboard</a></li>
      <li class="upload__file__sb"><a href="user-upload-file.html"><i class="fa-solid fa-cloud-arrow-up"></i>
          Upload File</a></li>
      <li>
        <a href="#collapseExample" class="active" data-bs-toggle="collapse" role="button" aria-expanded="false"
          aria-controls="collapseExample"><i class="fa-solid fa-file"></i> My Forms
          <span class="dropdown__arrow"><i class="fa-solid fa-chevron-right"></i></span></a>
        <div class="collapse" id="collapseExample">
          <div class="sidebar__dropdown">
            <ul>
              <li><a href="published-files.html" class="active">Published Files</a></li>
              <li><a href="reject-files.html">Reject File</a></li>
              <li><a href="pending-files.html">Pending File</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li><a href="user-submission.html"><i class="fa-solid fa-file-circle-check"></i>Submissions</a></li>
      <li><a href="user-analytics.html"><i class="fa-solid fa-chart-simple"></i>Analytics</a></li>
      <li><a href="my-download.html"><i class="fa-solid fa-layer-group"></i>Template</a></li>
      <li><a href="user-withdraw.html"><i class="fa-solid fa-coins"></i> Withdraw</a></li>
      <li><a href="user-deposit.html"><i class="fa-solid fa-money-bill-transfer"></i> Deposit</a></li>
      <li><a href="user-transactions.html"><i class="fa-solid fa-list-ul"></i> Transactions</a></li>
      <li><a href="user-support-tickets.html"><i class="fa-solid fa-headset"></i> Support Ticket</a></li>
    </ul>
  </div>
</div>
<!--==========================  User-sidebar End  ==========================-->