/* ====================== Breadcrumb Css Start ==================== */
.breadcrumb {
  margin-bottom: 0;
  padding-top: clamp(5rem, 3.906rem + 5.469vw, 9.375rem);
  padding-bottom: clamp(1.875rem, 0.781rem + 5.469vw, 6.25rem);
  position: relative;
  z-index: 1;

  .glove--base {
    position: absolute;
    z-index: -2;

    &:nth-child(1) {
      top: -60%;
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(2) {
      top: -60%;
      left: -15%;
    }

    &:nth-child(3) {
      top: -60%;
      right: -15%;
    }
  }

  &__shape {
    position: absolute;
    top: 0;
    z-index: -1;

    &:nth-child(2) {
      right: 0;
      top: 0;
    }

  }

  &__pattern {
    position: absolute;
    inset: 0;
    background-color: hsl(var(--white));
    mask-size: cover;
    z-index: -1;
    opacity: 0.1;
  }


  &__wrapper {
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;

    &-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &-text {
      color: hsl(var(--base));
    }
  }

  &__link {
    font-weight: 500;

    &:hover {
      color: hsl(var(--base));
    }
  }
}

/* ====================== Breadcrumb Css End ==================== */