/* =========================== Accordion Css start ============================= */
.accordion-wrap{
  position: relative;
  z-index: 1;
  border-radius: var(--b-radius-12);
  overflow: visible;
  
  &::after{
    content: '';
    position: absolute;
    inset: -19px;
    background-color: hsl(var(--black));
    border-radius: inherit;
    z-index: -1;
  }
    &::before{
    content: '';
    position: absolute;
    inset: -20px;
    background-image: linear-gradient(180deg, hsl(var(--base)/ 0.31), transparent, hsl(var(--base)/ 0.31));
    border-radius: inherit;
    z-index: -2;
  }
}
.accordion {
  .accordion-item {
    border: 1px solid hsl(var(--base) / 0.06);
    background-color: transparent !important;
    border-radius: 8px;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .accordion-header {
    line-height: 1;
  }

  .accordion-body {
    padding: 24px;
    padding-top: 0;
    background-color: hsl(var(--white)/ 0.03);
    color: hsl(var(--body-color));

    @include sm-screen {
      padding: 16px;
      font-size: 14px;
    }
  }

  &:first-of-type .accordion-button.collapsed {
    border-radius: 8px;
  }

  &:last-of-type .accordion-button.collapsed {
    border-radius: 8px;
  }

  .accordion-button {
    background-color: hsl(var(--white)/ 0.03);
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 600;
    padding: 28px 24px;
    padding-right: 50px;

    @include sm-screen {
      font-size: 16px;
      padding: 20px 16px;
      padding-right: 40px;
    }

    &::after {
      background-image: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      box-shadow: none;
    }

    &[aria-expanded='true'],
    &[aria-expanded='false'] {
      &::after {
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        content: '\f068';
        display: inline-block;
        position: absolute;
        @extend .top-center-extend;
        right: 15px;
        height: unset;
      }
    }

    &[aria-expanded='false'] {
      &::after {
        content: '\2b';
      }
    }
  }
}

/* ================================= Accordion Css End =========================== */