/* =========================== Accordion Css start ============================= */
.accordion {
  --accordion-p: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);
  position: relative;
  z-index: 1;
  border-radius: var(--b-radius-12);
  overflow: visible;
  margin: var(--accordion-p);

  &::after {
    content: '';
    position: absolute;
    inset: calc(-1 * var(--accordion-p));
    background-color: hsl(var(--black));
    border-radius: inherit;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    inset: calc(-1 * var(--accordion-p) - 1px); 
    background-image: linear-gradient(
      180deg, 
      hsl(var(--base)/0.31), 
      transparent, 
      hsl(var(--base)/0.31)
    );
    border-radius: inherit;
    z-index: -2;
  }
}

.accordion {
  .accordion-item {
    border: 1px solid hsl(var(--base) / 0.06);
    background-color: transparent !important;
    border-radius: 8px;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: clamp(0.5rem, 0.438rem + 0.313vw, 0.75rem);
    }
  }

  .accordion-header {
    line-height: 1;
  }

  .accordion-body {
    padding: clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);
    padding-top: 0;
    background-color: hsl(var(--white)/ 0.03);
    color: hsl(var(--body-color));

    @include sm-screen {
      font-size: 14px;
    }
  }

  &:first-of-type .accordion-button.collapsed {
    border-radius: 8px;
  }

  &:last-of-type .accordion-button.collapsed {
    border-radius: 8px;
  }

  .accordion-button {
    background-color: hsl(var(--white)/ 0.03);
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 600;
    padding-inline: clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);
    padding-block: clamp(0.875rem, 0.656rem + 1.094vw, 1.75rem);
    padding-right: clamp(1.875rem, 1.563rem + 1.563vw, 3.125rem);

    @include sm-screen {
      font-size: 16px;
    }

    &::after {
      background-image: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      box-shadow: none;
    }

    &[aria-expanded='true'],
    &[aria-expanded='false'] {
      &::after {
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        content: '\f068';
        display: inline-block;
        position: absolute;
        @extend .top-center-extend;
        right: 15px;
        height: unset;
      }
    }

    &[aria-expanded='false'] {
      &::after {
        content: '\2b';
      }
    }
  }
}

/* ================================= Accordion Css End =========================== */