/* ======================  Blog Start  ======================*/
.blog {
    position: relative;
    z-index: 1;
    --date-size: 70px;

    &__card {
        position: relative;
        border-radius: var(--b-radius-12);
        overflow: hidden;
        height: 100%;
        z-index: 2;
        border: 1px solid hsl(var(--white)/0.12);
    }

    &__body {
        padding-inline: clamp(0.75rem, 0.547rem + 1.016vw, 1.563rem);
        padding-block: clamp(0.938rem, 0.703rem + 1.172vw, 1.875rem);
    }

    &__thumb-wrap {
        position: relative;
        z-index: 1;

    }


    &__thumb {
        display: block;
        width: 100%;
    }

    &__date {
        position: absolute;
        bottom: 0;
        left: 30px;
        transform: translateY(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 1;
        width: var(--date-size);
        height: var(--date-size);
        border-radius: var(--b-radius-12);
        background-image: linear-gradient(180deg, hsl(var(--base)) 70%, transparent);
        font-size: 32px;
        font-weight: 600;
        text-align: center;

        span {
            font-size: 16px;
            font-weight: 500;
            margin-top: rem(3px);

        }
    }

    &__title {
        margin-top: calc(var(--date-size) / 2 - 5px );

    }

    &__desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-clamp: 2;
        text-overflow: ellipsis;
    }

    .btn--unstyle-2 {
        margin-top: clamp(0.938rem, 0.703rem + 1.172vw, 1.875rem);
    }
}

.blog-details {

    &__thumb {
        border-radius: 12px;
        overflow: hidden;
    }

    &__body {
        margin-top: clamp(0.875rem, -0.286rem + 3.095vw, 2.5rem);
    }


    &__content {
        display: flex;
        flex-direction: column;
        gap: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);

        blockquote {
            position: relative;
            background-color: hsl(var(--base-l-900)/ 0.5);
            padding-block: clamp(1.25rem, -0.089rem + 3.571vw, 3.125rem);
            padding-inline: clamp(0.875rem, 0.161rem + 1.905vw, 1.875rem);
            border-radius: var(--b-radius);
            border: 1px solid hsl(var(--black)/ 0.04);

            z-index: 1;

            &::before {
                content: '\f10e';
                position: absolute;
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 120px;
                color: hsl(var(--base)/ 0.1);
                z-index: -1;
            }

        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .social-list__title {
            color: hsl(var(--heading-color));
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(10px);

            i {
                color: hsl(var(--base));
                font-size: rem(30px);
            }

        }
    }
}

/* ======================  Blog End  ======================*/