/* ======================  Trust Start  ======================*/
.features{
    position: relative;
    z-index: 1;
    height: 100%;
    .glove--base{
        position: absolute;
        z-index: -1;
        left: -10%;
    }
    &__shape{
        position: absolute;
        top: 30%;
        left: 0;
        z-index: -1;
    }
    &__card{
        text-align: center;
        max-width: rem(260px);
        margin-inline: auto;
    }
    &__icon{
        margin-bottom: rem(26px);
        max-width: rem(86px);
        margin-inline: auto;
    }
    &__title{
        margin-bottom: rem(24px);
    }
}
/* ======================  Trust End  ======================*/