/* ======================  Template Start  ======================*/
.template {
    &__card {
        background-color: hsl(var(--white));
        border-radius: rem(16px);
        border: 1px solid hsl(var(--black) / 0.08);
        height: 100%;
        z-index: 4;
        overflow: hidden;

        &:hover {
            .template__btns {
                top: 50%;
            }
        }

    }

    &__thumb-wrap {
        position: relative;
        background-color: hsl(var(--black)/ 0.06);
        padding: rem(40px);
        padding-bottom: 0;
        border-radius: rem(12px);
        margin: rem(16px);
        margin-bottom: 0;


        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: hsl(var(--black)/ 0.5);
            z-index: 2;
            border-radius: inherit;

        }
    }

    &__thumb {
        position: relative;
        margin-inline: auto;
        border-radius: 6px 6px 0 0;
        overflow: hidden;
    }

    &__body {
        padding: rem(26px);
        text-align: center;

    }

    &__btns {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 3;
        transition: 0.3s;

    }
}

/* ======================  Template End  ======================*/