/* ======================  Testimonial Start  ======================*/
.testimonial {
  position: relative;
  max-width: rem(1920px);
  margin-inline: auto;
  --icon-size: clamp(3.125rem, 2.813rem + 1.563vw, 4.375rem);

  &__card {
    position: relative;
    transition: 0.3s;
    width: 100%;
    border-radius: var(--b-radius-12);
    overflow: hidden;
    max-width: rem(420px);
    margin-inline: auto;
    background-image: linear-gradient(hsl(var(--base)/ 0.2), transparent);
    border: 1px solid hsl(var(--base)/ 0.2);
    padding-inline: clamp(0.625rem, 0.391rem + 1.172vw, 1.563rem);
    padding-block: clamp(1.875rem, 1.563rem + 1.563vw, 3.125rem);
    transition: 0.3s;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-image: linear-gradient( hsl(var(--base)),  transparent 10%);
      transition: 0.3s;
      z-index: -1;
    }
    &:hover{
      &::before{
        height: 100%;
      }
    }
  }

  &__thumb {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: rem(20px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;

  }

  &__title {
    margin-bottom: 8px;
  }
  &__desc{
    font-size: 18px;
    margin-top: rem(25px);
  }


  .swiper {
    padding: rem(50px) rem(30px);

    @include xl-screen {
      padding: rem(30px) rem(20px);
    }

    @include md-screen {
      padding: rem(20px) rem(10px);
    }
  }

  .swiper-slide {
    max-width: rem(420px);
  }

  .custom-btn {
    background-color: hsl(var(--base)/0.5);

    &:hover {
      background-color: hsl(var(--base)) !important;
    }

  }

  .custom-prev {
    left: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);
  }

  .custom-next {
    right: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem);
  }

  .custom-btn.swiper-button-disabled {
    background-color: hsl(var(--base) / 0.2) !important;
    backdrop-filter: blur(2px);
  }
}

/* ======================  Testimonial End  ======================*/