/* ======================  Testimonial Start  ======================*/
.testimonial {
  position: relative;
  max-width: rem(1920px);
  margin-inline: auto;

  &__card {
    transition: 0.3s;
    width: 100%;
    border-radius: rem(12px);
    overflow: hidden;
    max-width: rem(420px);
    margin-inline: auto;
    // background-color: hsl(var(--base-two));
    background-image: linear-gradient(180deg, hsl(var(--base)/ 0.2), transparent);
    border: 1px solid hsl(var(--base)/ 0.2);
    padding-inline: 25px;
    padding-block: 50px;
    // padding-bottom: 30px;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    //   background-color: hsl(var(--black));
    //   z-index: -1;
    //   border-radius: inherit;
    // }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   inset: -1px;
    //   background-image: linear-gradient(180deg, transparent, hsl(var(--base)/ 0.3));
    //   z-index: -1;
    //   border-radius: inherit;
    // }

  }

  &__thumb {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: rem(20px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;

  }

  &__title {
    margin-bottom: 8px;
  }
  &__desc{
    font-size: 18px;
    margin-top: rem(25px);
  }


  .swiper {
    padding: rem(50px) rem(30px);

    @include xl-screen {
      padding: rem(30px) rem(20px);
    }

    @include md-screen {
      padding: rem(20px) rem(10px);
    }
  }

  .swiper-slide {
    max-width: rem(420px);
  }

  .custom-btn {
    width: rem(50px);
    height: rem(50px);
    font-size: rem(22px);
    background-color: hsl(var(--base)/0.5);

    &:hover {
      background-color: hsl(var(--base)) !important;
    }

  }

  .custom-prev {
    left: 20px;

    @include xl-screen {
      left: 40px;
    }
  }

  .custom-next {
    right: 20px;

    @include xl-screen {
      right: 40px;
    }
  }

  .custom-btn.swiper-button-disabled {
    background-color: hsl(var(--base) / 0.2) !important;
    backdrop-filter: blur(2px);
  }
}

/* ======================  Testimonial End  ======================*/