/* ======================  Trust Start  ======================*/
.trust{
    &__card{
        text-align: center;
        max-width: rem(260px);
        margin-inline: auto;
    }
    &__icon{
        margin-bottom: rem(26px);
        max-width: rem(86px);
        margin-inline: auto;
    }
    &__title{
        margin-bottom: rem(24px);
    }
}
/* ======================  Trust End  ======================*/