/* ======================  Work-process Start  ======================*/
.work-process {
    position: relative;
    // z-index: 1;
    --indicator-size: 130px;
    --icon-width: 30px;
    --card-gap: 200px;
    --count-size: 60px;
    --card-size: calc(100% / 3 - var(--card-gap));

    @include xxl-screen {
        --card-gap: 150px;
        --indicator-size: 100px;
    }

    @include xl-screen {
        --card-gap: 40px;
        --indicator-size: 60px;
    }

    @include md-screen {
        --card-gap: 80px;
        --card-size: 100%;
        --indicator-size: 40px;
        --icon-width: 20px;

    }

    .glove--base {
        position: absolute;
        left: auto;
        right: -20% !important;
    }

    &__shape {
        position: absolute;
        right: -10%;
        top: 0;
        z-index: -1;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: var(--card-gap);
        border-radius: var(--b-radius-16);
        background-image: linear-gradient(180deg, hsl(var(--base-two-l-100)), transparent);
        background-color: hsl(var(--black));
        padding-top: clamp(1.875rem, 1.094rem + 3.906vw, 5rem);
        padding-inline: clamp(1.25rem, 0.703rem + 2.734vw, 3.438rem);
        padding-bottom: 20px;

        @include md-screen {
            flex-direction: column;
        }

        &::after {
            content: '';
            position: absolute;
            inset: -1px;
            background-image: linear-gradient(180deg, hsl(var(--base)/ 0.31), 70%, transparent);
            border-radius: inherit;
            z-index: -1;
        }

        &::before {
            content: '';
            position: absolute;
            inset: -5px 20px 30px 20px;
            border-radius: inherit;
            background-color: hsl(var(--base));
            filter: blur(10px);
            z-index: -1;
        }
    }

    &__card {
        position: relative;
        height: 100%;
        width: var(--card-size);
        margin-inline: auto;
        max-width: 400px;
    }

    &__count {
        font-size: clamp(1.875rem, 1.594rem + 1.406vw, 3rem);
        font-weight: 500;
        line-height: 1;
        color: transparent;
        -webkit-text-stroke: 2px hsl(var(--heading-color));
        margin-bottom: rem(28px);
        width: var(--count-size);

        @include md-screen {
            font-weight: 700;
        }

        @include sm-screen {
            font-weight: 900;
        }


    }

    &__title {
        margin-bottom: rem(20px);
    }

    // &__indicator {
    //     display: inline-block;
    //     position: absolute;
    //     right: calc(((var(--card-size) + var(--card-gap)) / 2) * -1);
    //     top: 15%;
    //     height: 10px;

    //     @include xl-screen {
    //         right: 30%;
    //     }

    //     @include md-screen {
    //         transform: translate(-50%) rotate(90deg);
    //         top: auto;
    //         bottom: -35%;
    //         left: 50%;
    //     }


    //     i {
    //         display: inline-block;
    //         font-size: 20px;
    //         position: absolute;
    //         right: 0;
    //         top: 50%;
    //         transform: translate(50%, -50%);
    //         width: var(--icon-width);
    //         display: grid;
    //         place-items: center;
    //         animation: bodyToBase 1s ease infinite;
    //         animation-delay: 3s;
    //     }

    //     &-right {
    //         position: absolute;
    //         right: calc(-100% - var(--icon-width) / 2);
    //         top: 50%;
    //         transform: translateX(100%);
    //         width: var(--indicator-size);
    //         height: 1px;
    //         background-color: hsl(var(--body-color)/ 0.5);

    //         @include md-screen {
    //             display: none;
    //         }

    //         &::before {
    //             content: '';
    //             position: absolute;
    //             left: 0;
    //             background-color: hsl(var(--base));
    //             width: 0px;
    //             height: 1px;
    //             animation: leftToRight 2s ease infinite;
    //             animation-delay: 3s;
    //         }
    //     }

    //     &-left {
    //         content: '';
    //         position: absolute;
    //         right: calc(var(--icon-width) / 2);
    //         top: 50%;
    //         width: var(--indicator-size);
    //         height: 1px;
    //         background-color: hsl(var(--body-color)/ 0.5);
    //         &::after {
    //             content: '';
    //             position: absolute;
    //             left: 0;
    //             background-color: hsl(var(--base));
    //             width: 0px;
    //             height: 1px;
    //             animation: leftToRight 2s ease infinite;   
    //         }

    //         @include md-screen {
    //             right: calc(var(--icon-width) / 4);
    //             top: calc(50% - 1px);
    //         }
    //     }
    // }
    .work-process__indicator {
        display: inline-block;
        position: absolute;
        right: calc(((var(--card-size) + var(--card-gap)) / 2) * -1);
        top: 15%;
        height: 10px;

        @include xl-screen {
            right: 30%;
        }

        @include md-screen {
            transform: translate(-50%) rotate(90deg);
            top: auto;
            bottom: -35%;
            left: 50%;
        }

        i {
            display: inline-block;
            font-size: 20px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
            width: var(--icon-width);
            display: grid;
            place-items: center;
          color: hsl(var(--color, var(--body-color)));
          transition: 0.3s;
        }

        &-right {
            position: absolute;
            right: calc(-100% - var(--icon-width) / 2);
            top: 50%;
            transform: translateX(100%);
            width: var(--indicator-size);
            height: 1px;
            background-color: hsl(var(--body-color)/0.5);

            @include md-screen {
                display: none;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                background-color: hsl(var(--base));
                width: var(--line-width, 0%);
                height: 1px;
            }
        }

        &-left {
            content: '';
            position: absolute;
            right: calc(var(--icon-width) / 2);
            top: 50%;
            width: var(--indicator-size);
            height: 1px;
            background-color: hsl(var(--body-color)/0.5);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 2px;
                width: var(--line-width, 0%);
                background-color: hsl(var(--base));
            }

            @include md-screen {
                right: calc(var(--icon-width) / 4);
                top: calc(50% - 1px);
            }
        }
    }

   


}



/* ======================  Work-process End  ======================*/